.container-video {
    /*Ajuste a largura e altura desejadas aqui*/
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.container-video > .bg-video{
    margin-top: -35px;
    padding: 0;
    overflow-x: hidden; /* Esconde o scroll horizontal */
    background-size: cover; /* Ajusta a imagem para cobrir o fundo sem distorção */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem no fundo */
}

.container-video > .bg-video > video {
    position: relative;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 850px;
    margin-top: -25px;
}

.flag{
	max-height: 25px;
	max-width: 25px;
	margin-top: auto;
    margin-right: 4px;
    margin-left: 4px;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

:root {
  --progress-duration: 2s; /* Duração da animação */
}

/* Sobre mim */

.secao-titulo{
  font-weight: bold;
  font-size: 40px;
  color: #7d7d7d;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.secao-descricao{
  font-weight: normal;
  font-size: 25px;
  color: #7d7d7d;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.secao-conteudo-esquerda{
  font-weight: normal;
  font-size: 25px;
  color: #7d7d7d;
  text-align: left;
  justify-content: left;
  justify-self: left;
  align-items: left;
  column-width: 50%;
}

.progress {
  height: 15px;
  background-color: #777;
  position: relative;
  border-radius: 7.5px; /* Arredonda as bordas do contêiner */
  overflow: hidden; /* Garante que a barra de progresso não saia do contêiner */
}

.progress .progress-bar {
  position: absolute;
  height: 100%;
  background-color: #add555;
  width: 0;
  border-radius: 7.5px; /* Arredonda as bordas da barra de progresso */
}

@keyframes progress-animation {
  0% { width: 0%; }
  100% { width: var(--progress-width); }
}

