.container-video {
    /*Ajuste a largura e altura desejadas aqui*/
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.container-video > .bg-video{
    margin-top: -35px;
    padding: 0;
    overflow-x: hidden; /* Esconde o scroll horizontal */
    background-size: cover; /* Ajusta a imagem para cobrir o fundo sem distorção */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem no fundo */
}

.container-video > .bg-video > video {
    position: relative;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: 850px;
    margin-top: -25px;
}

.flag{
	max-height: 25px;
	max-width: 25px;
	margin-top: auto;
  margin-right: 4px;
  margin-left: 4px;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}


:root {
  --progress-duration: 2s; /* Duração da animação */
}

/* Sobre mim */

.secao-container{
  margin-top: 50px;
  margin-bottom: 100px;
}

.secao-titulo{
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 35px;
  color: #333333;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.secao-descricao{
  margin-bottom: 80px;
  font-weight: normal;
  font-size: 18px;
  color: #333333;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.paragrafo{
  font-weight: normal;
  font-size: 16px;
  color: #333333;
  text-align: left;
  justify-content: left;
  justify-self: left;
  align-items: left;
}

.texto-direita{
  text-align: right;
}

.texto-esquerda{
  text-align: left;
}

.titulo-barra:first-child{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.titulo-barra{
    display: flex;
    justify-content: space-between;
    margin-top: 2500px;
}

.progresso {
  height: 9px;
  background-color: #e1e1e1;
  position: relative;
  border-radius: 7.5px; /* Arredonda as bordas do contêiner */
  overflow: hidden; /* Garante que a barra de progresso não saia do contêiner */
}

.progresso .barra-progresso {
  position: absolute;
  height: 100%;
  background-color: #1351B4;
  width: 0;
  border-radius: 7.5px; /* Arredonda as bordas da barra de progresso */
}

@keyframes progresso-animation {
  0% { width: 0%; }
  100% { width: var(--progresso-width); }
}

.icone-midia-social{
  color: #333333;
}

.icone-midia-social:hover{
  background-color: rgb(51, 51, 51, 0.2);
}
  
.lista-midia-social{
  margin-left: -12px;
}

/* Blog */

.container-card{
  padding: 20px;
  width: fit-content;
}

.br-card{
 height: fit-content;
 width: 400px;
}

.hover:hover{
  background-color: #1351B4;
  color: white;
 }

 .container-avatar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.avatar-card{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.span-icone{
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 5px; /* Add some padding for better click area */
}

.titulo-card, .subtitulo-card{
  /*font-size: 20px;
  font-weight: 600;*/
  text-align: left;
  justify-content: left;
  justify-self: left;
  align-items: left;
}

.imagem-card{
  text-align: left;
  justify-content: left;
  justify-self: left;
  align-items: left;
  height: 250px;
}

